# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Dependency directories
vendor/

# IDE specific files
.idea/
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
desktop.ini